<ion-view title="我的社员" id="member">
	<ion-nav-buttons side="left">
		<i class="button-icon icon ion-ios-arrow-left" ng-click="history()"></i>
	</ion-nav-buttons>
	<ion-content>
		<ion-list class="list">
			<ion-item class="item row row-center" ng-repeat="member in members">
				<div class="col col-25 img_phone"><img ng-src="{{member.img_path}}"></div>
				<div class="col col-30  ">
					<div class="name">{{member.name}}</div>
					<div class="number">她的拓展会员数量：{{member.downPersionNum}}人</div>
					<div class="time">入团时间：{{member.createtime}}</div>
				</div>
				 <div class="col col-20 col-bottom">查看下级</div>
				  <div class="col col-10 col-bottom" ng-click="showPopup()">换人</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>