<ion-view view-title="财富中心" id="money">
  <ion-nav-buttons>
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="history()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="container">
      <div class="ybprofit">颜币收益<span>250000</span></div>
      <input type="text" class="input">
      <div class="tixian">提交提现申请</div>
      <div class="example">(200000颜币－税金50000颜币)÷100=1500元</div>
      <span>提现说明：</span><br>
      <span class="text">100颜币=1元人民币</span><br>
      <span class="text">最低提现为10000颜币，每次提现为10000的倍数</span><br>
      <span class="text">提现超过200000颜币，需要扣除提现额度的25%作为税金扣除</span>
    </div>
      <div class="txlog">提现记录</div> 
  </ion-content>
</ion-view>