.bar-stable .bar-stable {

	 border: none;
}

#girlfriend{
    .header {
           padding-bottom: .5rem;
           padding-top: 1.5rem;
    	  border-bottom: 1px solid gainsboro;
    }
	 	 	 .font{
	 	 	 	 font-size: 1.1rem;
	 	 	 	 color: #333333;
	 	 	 	  padding-bottom: 1rem;
	 	 	 }
	 	 	  .money{
	 	 	 	 font-size: 1rem;
	 	 	 	 color:#ff44aa;
	 	 	 }
	 	 .quan{
	 	 	 	 border: 1px solid #ff44aa;
	 	 	 	  border-radius: 8px;
	 	 	 	   text-align: center;
	 	 	 	    color: #333333;
	 	 	 }
	 	 .list {
	 	 	 .item{
	 	 	 	 margin: 0.8rem 0 0.8rem 0;
	 	 	 	  border: none;
	 	 	 	 .icon{
	 	 	 	 	 width: 1.8rem;
	 	 	 	 	 height: 1.8rem;
	 	 	 	 	 img{
	 	 	 	 	 	 width: 100%;
	 	 	 	 	 	 height: 100%;
	 	 	 	 	 }
	 	 	 	 }
	 	 	 	 .introduce{
	 	 	 	 	 margin-left: 2rem;
	 	 	 	 	 color: #333333;
	 	 	 	 }
	 	 	 	 .col{
	 	 	 	 	.one{
                        color: #FF44AA;
                        margin-bottom: .5rem;
                     	 font-size: .9rem;
                        
                     } 
                     .two{
                     	 color: #333333;
                     	 font-size: .7rem;
                        height: 20px;
                     }
	 	 	 	 }
	 	 	 	 .col-25 {
	 	 	 	 	   background-color: #FF44AA;
	 	 	 	 	   color: white;
	 	 	 	 	   border-radius: 0.5rem;
	 	 	 	 	   text-align: center;
	 	 	 	 }
	 	 	 }
	 	 	 
	 	 }
	 	 .title{

	 	 	  color: #666666;
	 	 }
}

