#member{
    .list{
         .item {
              margin-top: 5px;
             .img_phone{
                  width: 5rem;
                   height: 5.5rem;
//                 border: 1px solid red;
                   padding: 0;
                   img{
                        width: 100%;
                        height: 100%;
                   }
             }
             .number, .time{
                  font-size: .7rem;
                   margin-top: 5px;
             }
             .col-26{
//                border: 1px solid red;
             }
             .col-20{
//                border: 1px solid yellow;
                   font-size: .8rem;
                    background-color: #FF44AA;
                     color: white;
                      border-radius: 8px;
                     text-align: center;
             }
              .col-10{
//                 border: 1px solid red;
                    margin-left: 5px;
                    font-size: .8rem;
                     text-align: center;
                     background-color: #FF44AA;
                     color: white;
                      border-radius: 8px;
                      
              }
         }
    }
}
